:root {
  --primary-color: #fcc954;
  --secondary-color: #283959;
  --tertiary-color: #30343e;
  --quaternary-color: #f8fbff;
}
body {
  color: #283959;
  background-color: #f8fbff;
  font-family: "Times New Roman", Times, serif;
}
header {
  background-color: var(--tertiary-color);
  height: 400px;
  text-align: center;
  padding: 40px;
}
header a {
  color: var(--quaternary-color);
  text-decoration: none;
}
header .logo a {
  background-image: url(images/andrewtowerslogo.PNG);
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 150px;
  position: relative;
  top: -50px;
  width: 300px;
}
header li {
  font-size: 24px;
  font-weight: bold;
  color: var(--quaternary-color);
  text-decoration: none;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: none;
  list-style: none;
  justify-content: center;
}
header nav ul li a {
  font-weight: lighter;
  font-size: 1.55vw;
  padding-left: 20px;
  padding-right: 20px;
}
header nav ul li a:hover {
  color: var(--quaternary-color);
  font-weight: bold;
  color: var();
  border-radius: 5px;
}
.main-content {
  padding: 5px;
}
.about-me {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 20px 75px 20px 75px;
}
.about-me div {
  display: flex;
  padding: 0 20px 0 20px;
}
.bio {
  align-items: center;
}
.bio img {
  width: 200px;
  border: 2px solid var(--quaternary-color);
  border-radius: 50%;
  box-shadow: gray 0 0 10px;
  margin-right: 20px;
}
.bio p {
  padding: 10px;
  text-align: center;
}
.portfolio {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 20px 75px 20px 75px;
}
.section-title {
  border-right: 3px solid var(--tertiary-color);
  padding-right: 20px;
  margin: 5px;
  font-size: xx-large;
  width: 200px;
}
.content {
  margin: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.show-work {
  padding: 5px;
}
.show-work article {
  text-align: center;
  display: inline-block;
}
.show-work article img {
  width: 300px;
  border: 2px solid var(--quaternary-color);
  border-radius: 5%;
  border-radius: 5%;
  box-shadow: gray 0 0 10px;
  opacity: 100;
  margin: 5px 20px 5px 20px;
}
.show-work article img:hover {
  opacity: 0.8;
  transition: 0.25s ease-in-out;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 75px 20px 75px;
  padding: 40px 0;
}
.contact ul {
  position: absolute;
  left: 60%;
  font-size: larger;
}
.contact ul a {
  padding: 10px;
  text-decoration: none;
  color: var(--secondary-color);
}
.contact ul a:hover {
  font-weight: bold;
}
/* Media query for screens */
@media (max-width:1500px) {
  .show-work {
    display: flex;
    flex-direction: row;
    flex:  1fr 1fr;
  }
  .contact ul a {
    display: inline-block;
  }
@media screen and (max-width: 1358px) {
  .show-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
  .show-work article {
    display: inline-block;
    margin: 0px 10px 0px 10px;
  }
  .show-work article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
@media screen and (max-width: 1215px) {
  .show-work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .show-work article {
    display: block;
  }
  .show-work article img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media (max-width: 980px) {
  .about-me div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media (max-width: 703px) {
    header {
      justify-content: space-around;
    }
    header nav ul {
      display:flex;
      flex-wrap: wrap;
    }
    header nav ul li a {
      font-size: large;
      position: absolute;
    }
    header .nav-link {
      position: relative;
      top: 75px;
    }
    header .logo {
      position: absolute;
    }

    .about-me {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .section-title {
      border: none;
      text-align: center;
      padding-bottom: 40px;
      justify-content: space-around;
      width: auto;
    }
    .portfolio {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .contact {
      display: inline-block;
      position: absolute;
    }
    footer h2 {
      position: relative;
      left: 130px;
    }
    .contact ul {
      text-align: center;
    }
  }

    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header {
    display: grid;
  }
  header nav {
    display: flex;
  }
}