:root {
  --primary-color: #fcc954;
  --secondary-color: #283959;
  --tertiary-color: #30343e;
  --quaternary-color: #f8fbff;
}
body {
  color: #283959;
  background-color: #f8fbff;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}
header div {
  background-color: none;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--quaternary-color);
  margin: 0;
}
header nav {
  margin: 7px 0;
}
header a {
  color: var(--quaternary-color);
  text-decoration: none;
}
header li {
  font-size: 24px;
  font-weight: bold;
  color: var(--quaternary-color);
  text-decoration: none;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: none;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
header nav ul li a:hover {
  color: var(--quaternary-color);
  font-weight: bold;
  color: var();
  border-radius: 5px;
}
.hero {
  background-color: var(--quaternary-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  border: 1px solid red;
}
.hero div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 150px;
  background-color: #fcc954;
  padding: 10px;
  border: 1px solid var(--secondary-color);
}
.main-content {
  padding: 5px;
}
.bio {
  margin: 20px 150px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.bio p {
  padding: 10px;
  margin: 0px 60px;
  flex: 1;
}
.portfolio {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: 150px;
}
.section-title {
  border-right: 3px solid var(--tertiary-color);
  padding-right: 20px;
  margin: 5px;
  font-size: xx-large;
  width: 200px;
}
.content {
  padding: 10px;
  margin: 5px;
}
.best-work {
  border: 1px solid var(--tertiary-color);
  height: 300px;
  width: 100%;
  margin: 5px;
}
.show-work {
  display: grid;
  padding: 5px;
  border: 1px solid var(--tertiary-color);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.work-cards {
  height: 150px;
  width: 100%;
  border: 1px solid var(--tertiary-color);
}
img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 150px;
  padding: 40px 0;
}
.contact ul {
  position: absolute;
  left: 50%;
  font-size: larger;
}
.contact ul a {
  padding: 10px;
  text-decoration: none;
  color: var(--secondary-color);
}
.contact ul a:hover {
  font-weight: bold;
}
