:root {
  --primary-color: #fcc954;
  --secondary-color: #283959;
  --tertiary-color: #30343e;
  --quaternary-color: #f8fbff;
}
body {
  color: #283959;
  background-color: #f8fbff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-color: var(--tertiary-color);
  height: 400px;
  text-align: center;
  padding: 40px;
}
header a {
  color: var(--quaternary-color);
  text-decoration: none;
}
header .logo a {
  background-image: url(images/andrewtowerslogo.PNG);
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 150px;
  position: relative;
  top: -50px;
  width: 300px;
}
header li {
  font-size: 24px;
  font-weight: bold;
  color: var(--quaternary-color);
  text-decoration: none;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: none;
  list-style: none;
}
header nav ul li a {
  font-weight: lighter;
  font-size: 1.55vw;
  padding-left: 20px;
  padding-right: 20px;
}
header nav ul li a:hover {
  color: var(--quaternary-color);
  font-weight: bold;
  color: var();
  border-radius: 5px;
}
.main-content {
  padding: 5px;
}
.bio {
  margin: 20px 0 20px 150px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.bio p {
  padding: 10px;
  margin: 0px 60px;
  flex: 1;
}
.portfolio {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 20px 0 20px 150px;
}
.section-title {
  border-right: 3px solid var(--tertiary-color);
  padding-right: 20px;
  margin: 5px;
  font-size: xx-large;
  width: 200px;
}
.content {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.show-work {
  padding: 5px;
}
.show-work article {
  margin: auto;
  width: 400px;
  text-align: center;
}
.show-work article img {
  width: 300px;
  border-radius: 5%;
  border-radius: 5%;
  box-shadow: gray 0 0 10px;
  opacity: 100;
}
.show-work article img:hover {
  opacity: 0.8;
  transition: 0.25s ease-in-out;
  webkit-trasition: 0.25s ease-in-out;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 150px;
  padding: 40px 0;
}
.contact ul {
  position: absolute;
  left: 50%;
  font-size: larger;
}
.contact ul a {
  padding: 10px;
  text-decoration: none;
  color: var(--secondary-color);
}
.contact ul a:hover {
  font-weight: bold;
}
